# Template - Cradle template

[![Created with Cradle](https://img.shields.io/badge/Created%20with-Cradle-blue?style=flat-square)](https://github.com/tschm/paper)

## Getting started

### **Learn about jinja2**

Create files...
