name: LaTeX

on:
  push

permissions:
  contents: write

jobs:
  build_paper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout [{% raw %}${{ github.repository }}{% endraw %}]
        uses: actions/checkout@v4

      - uses: ./actions/latex
        with:
          paper: paper/{{ project_name }}.tex
          draft: draft

      # add or remove papers here
